@tailwind base;
@tailwind components;
@tailwind utilities;

.btn1{
    background: linear-gradient(135deg, #5F0F87, #02C6F6 100%);
    margin-left: 6px;
    opacity: 0.9;
    outline: none;
    border-radius: 4px;
    padding: 3px 4px;
}